:root {
    /* Primary */
    --purple: hsl(259, 100%, 65%);
    --lightRed: hsl(0, 100%, 67%);
    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --offWhite: hsl(0, 0%, 94%);
    --lightGrey: hsl(0, 0%, 86%);
    --smokeyGrey: hsl(0, 1%, 44%);
    --offBlack: hsl(0, 0%, 8%);
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--lightGrey);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Main */
main {
    background-color: var(--white);
    max-width: 338px;
    padding: 2.5rem 1.5rem;
    border-radius: 20px 20px 80px 20px;
}

/* Section Input */
form {
    display: flex;
    gap: 1rem;
    padding-bottom: 3.5rem;
    border-bottom: 1px solid var(--lightGrey);
    position: relative;
}

input {
    display: block;
    width: 100%;
    height: 3rem;
    border-radius: 7px;
    border: 1px solid var(--lightGrey);
    padding-inline: .75rem;
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--offBlack);
}

input:focus {
    cursor: pointer;
    caret-color: var(--purple);
    outline: none;
    border: 1px solid var(--purple);
    transition: 200ms;
}

label {
    font-size: .7rem;
    letter-spacing: 2px;
    color: var(--smokeyGrey);
}

small {
    color: var(--lightRed);
    font-style: italic;
    font-size: .65rem;
}

.div-form.error input {
    border: 1px solid var(--lightRed);
}

.div-form.error label {
    color: var(--lightRed);
}

button {
    position: absolute;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: var(--purple);
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

button:hover {
    cursor: pointer;
    background: var(--offBlack);
    transition: .2s;
}

button img {
    width: 25px;
    height: 25px;
}

/* Section Output */
.section-output {
    padding-top: 4rem;
    font-size: 2.1rem;
    line-height: 3.5rem;
    font-style: italic;
    color: var(--offBlack);
}

span {
    color: var(--purple);
}

@media screen and (min-width: 900px) {
    main {
        max-width: 625px;
        padding: 2.5rem;
        border-radius: 20px 20px 150px 20px;
    }
    
    /* Section Input */
    form {
        gap: 1.5rem;
        padding-bottom: 2.5rem;
    }

    form > * {
        width: 22%;
    }
    
    input {
        margin-top: .2rem;
        height: 3.5rem;
        padding-inline: 1rem;
        font-size: 1.5rem;
    }
    
    button {
        width: 80px;
        height: 80px;
        bottom: 0;
        right: 0;
        left: unset;
        transform: translateY(50%);
    }
    
    button img {
        width: 35px;
        height: 35px;
    }
    
    /* Section Output */
    .section-output {
        padding-top: 2.5rem;
        font-size: 3.25rem;
        line-height: 5.25rem;
    }    

    span {
        letter-spacing: -.25rem
    } 
};